.home-container { 
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: ‘Roboto’, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px; 
    text-align: justify;

}
.home-paragraph { font-family: 'Roboto', sans-serif; }